:root {
    --file-selected-color: #363636;
    --file-navigator-height: 35px;
    --file-path-font-size: 1rem;
    --file-element-size: 50px;
    --file-navigator-action-margin: 6px;
}


.path-container {
    width: 100vw;
    height: var(--file-navigator-height);
    top: calc(100vh - var(--file-navigator-height) - var(--tab-height));
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--theme-2);
    opacity: 1;
    justify-content: center;
    align-items: center;
}

.path-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--theme-2);
    border-top: 1px solid var(--theme-5);
}

.path-section > .folder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

/** File path segment. Can be seen as a directory **/
.path-separator {
    color: var(--text-color-2);
    font-size: var(--file-path-font-size);
    font-family: var(--font);
    height: auto;
    margin: 0 5px;
    padding: 2px 4px;
    border-radius: 8px;
    cursor: pointer;
}

.path-separator:hover {
    background-color: var(--theme-5);
}

/** Displaying of the file separator '/' **/
.path-arrow {
    width: 20px;
    height: 20px;
    margin: 0;
    background-color: var(--theme-5);
    clip-path: polygon(44.75% 24.25%, 70.5% 50%, 70.5% 50%, 44.75% 74.25%, 39.38% 68.54%, 58.83% 49.08%, 39.38% 29.63%);

}

.action-container {
    width: 100vw;
    height: var(--file-navigator-height);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--theme-2);
    border-bottom: 1px solid var(--theme-5);
}

.container {
    opacity: 0.5;
}

.file-section {
    width: 100vw;
    height: calc(100vh - var(--file-navigator-height) * 2 - var(--tab-height));
    top: var(--file-navigator-height);
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    background-color: rgba(var(--theme-2), 0.0);
    overflow: hidden;
}

.file-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    background-color: var(--theme-2);
    overflow: scroll;
}


/* Styles for a generic file displaying in the file viewer */
.file {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: var(--file-element-size);
    height: var(--file-element-size);
    border-radius: 10px;
    margin: 10px;
    background-position: center;
    background-size: cover;
}

.hidden {
    display: none;
}

/* Styles for the file name underneath the file */
.file > .file-name {

    top: 70%;
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
    color: var(--text-color);
    margin: 0;
    padding: 0 3px;
    font-size: 0.65rem;
    font-family: var(--font);
    user-select: none;
    word-wrap: break-word;
}

/* Selected file surrounding */
.file.selected {
    border-radius: 10px;
    background-color: var(--file-selected-color);
}

/* Selected file name*/
.file.selected > .file-name {
    position: relative;
    border-radius: 4px;
    background-color: rgba(37, 88, 255, 0.5);
}

.arrow {
    background-color: var(--theme-5);
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    z-index: 2;
}

.arrow:after {
    content: "";
    display: block;
    position: relative;
    width: 80%;
    height: 80%;
    left: -1%;
    top: -1%;
    transform: translateX(28%);
    background-color: var(--theme-2);
    z-index: 99;
}



.navigate-back {
    background-color: var(--theme-5);
}

.navigate-forward {
    background-color: var(--theme-5);
    transform: rotate(-135deg);
}

.navigate-arrows {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.navigate-arrows:after {
    content: "";
    display: block;
    width: 1px;
    height: var(--file-navigator-height);
    margin-left: 20px;
    background-color: var(--theme-5);
}

.navigate-forward.inactive {
    background-color: var(--theme-1);
}

.navigate-back.inactive {
    background-color: var(--theme-1);
}

.navigate-arrow:hover {
    cursor: pointer;
    background-color: var(--theme-4);
}

/** Container for special actions, like filtering, creating and deleting files **/
.action-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

/** Action in the action container - Deletion  **/
.action-delete {
    background-image: url('../assets/delete_icon.png');
}

.action-add {
    background-image: url('../assets/add_icon.png');
}

.action-refresh {
    background-image: url('../assets/reload_icon.png');
}

/** Generic action class **/
.action {
    margin: calc(0.5 * var(--file-navigator-action-margin));
    padding: calc(0.5 * var(--file-navigator-action-margin));
    width: calc(var(--file-navigator-height) - var(--file-navigator-action-margin) * 2);
    height: calc(var(--file-navigator-height) - var(--file-navigator-action-margin) * 2);
    border-radius: var(--file-navigator-action-margin);
    background-size: cover;
    background-position: center;
    display: block;
}

.action:hover {
    cursor: pointer;
    background-color: var(--theme-1);
}

.action:active {
    background-color: var(--theme-3);
}


.file-directory {
    background-image: url('../assets/folder_icon.png');
}

.file-ordinary {
    background-image: url('../assets/file_icon.png');
}

#file-filter {
    width: 100%;
    height: 100%;
    background-color: var(--theme-2);
    border: none;
    color: var(--text-color);
    font-family: var(--font);
    font-size: 1rem;
    padding: 0 10px;
    outline: none;
}

/* HTML: <div class="loader"></div> */
.process-loading {
    width: calc(var(--file-navigator-height) - 2 * var(--navigator-padding));
    position: absolute;
    aspect-ratio: 1;
    display: grid;
    border-radius: 50%;
    background:
            linear-gradient(0deg ,rgb(0 0 0/80%) 30%,#0000 0 70%,rgb(0 0 0/100%) 0) 50%/8% 100%,
            linear-gradient(90deg,rgb(0 0 0/25%) 30%,#0000 0 70%,rgb(0 0 0/75% ) 0) 50%/100% 8%;
    background-repeat: no-repeat;
    animation: l23 1s infinite steps(12);
}
.process-loading::before,
.process-loading::after {
    content: "";
    grid-area: 1/1;
    border-radius: 50%;
    background: inherit;
    opacity: 0.915;
    transform: rotate(30deg);
}
.process-loading::after {
    opacity: 0.83;
    transform: rotate(60deg);
}
@keyframes l23 {
    100% {transform: rotate(1turn)}
}