
:root {
    --login-container-width: 50vw;
}

.login-container {
    width: 50vw;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--theme-1);
    border-radius: var(--default-rounding);
    opacity: var(--background-opacity);
}

.login-container.loading { visibility: hidden; }

/** Button for toggling password visibility (without image) **/
.show-password {
    width: var(--input-box-height);
    height: var(--input-box-height);
    transform: translateX(calc(var(--input-box-width) / 2 - var(--input-box-height) / 2));
    border: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    background-size: cover;
    background-position: center;
    z-index: 999;
}

.password-input .input-box {
    width: calc(var(--input-box-width));
}

/** Image for button for password visibility, hide password (image) **/
.password-invisible { background-image: url('../assets/eye_closed.svg'); }

/** Image for button for password visibility, show password (image) **/
.password-visible { background-image: url('../assets/eye_opened.svg'); }

/** Container for text input and toggle password button **/
.password-input {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}


/** Make the port input box rectangular **/
.host-input > #ssh-port {
    height: var(--input-box-height);
    width: var(--input-box-height);
    margin-left: 0;
}

/** Remove the arrows on the port input box **/
.host-input > #ssh-port::-webkit-outer-spin-button, #ssh-port::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.host-input > #ssh-host {
    width: calc(var(--input-box-width) - var(--input-box-height) - 25px);
    margin-right: 0;
}

.title-text {
    width: calc(var(--login-container-width) - 2 * (var(--back-button-size) + var(--back-button-margin) + var(--back-button-padding)));
}