@font-face {
    font-family: 'San Francisco';
    font-weight: 400;
    src: url('../assets/fonts/sf-pro.otf') format('opentype');
}

:root {
    --theme-1: #22252A;
    --theme-2: #282C33;
    --theme-3: #292C33;
    --theme-4: #2358C9;
    --theme-5: #4D5052;

    --border-1: #000;
    --border-2: #343840;

    --background-opacity: 0.95;

    --default-rounding: 5px;

    --navigator-height: 25px;

    --text-color: #fff;
    --text-color-2: #ccc;
    --input-box-width: 33vw;
    --input-box-height: 5vh;
    --navigator-padding: 10px;
    --font: 'San Francisco', sans-serif;

    --back-button-size: 30px;
    --back-button-padding: 3px;
    --back-button-margin: 15px;
}

html, body {
    margin: 0;
    padding: 0;
}

.navigator {
    width: 100vw;
    height: var(--navigator-height);
    background-color: var(--theme-1);
    z-index: -1;
    border-radius: var(--default-rounding) var(--default-rounding) 0 0;
}

.content {
    width: 100vw;
    height: calc(100vh - var(--navigator-height));
    top: var(--navigator-height);
    z-index: 0;
    background-color: var(--theme-1);
}

/** Loading animation **/
.loading {
    width: 65px;
    height: 30px;
    position: absolute;
    display: block;
    z-index: 5;
    visibility: hidden;
}
.loading:before {
    content: "";
    position: absolute;
    display: block;
    border-radius: 50px;
    box-shadow: 0 0 0 3px inset #fff;
    animation: l3 1s infinite alternate;
}
@keyframes l3 {
    0% {
        inset: 0 35px 0 0;
    }
    50% {
        inset: 0 0 0 0;
    }
    100% {
        inset: 0 0 0 35px;
    }
}

.title-text {
    color: var(--text-color-2);
    font-size: 2em;
    font-family: var(--font);
    text-align: center;
}

.title-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.input-box {
    display: inline-block;
    color: var(--text-color);
    background-color: var(--theme-2);
    border: none;
    width: var(--input-box-width);
    height: var(--input-box-height);
    border-radius: 5px;
    margin: 5px 0;
    padding: var(--navigator-padding);
}

.input-box:focus {
    outline: none;
    background-color: var(--theme-2);
}

/** Styles for text-boxes when they're not empty **/
.input-box::placeholder {
    color: var(--text-color-2);
}

/** Login button **/
.page-button {
    width: var(--input-box-width);
    height: var(--input-box-height);
    color: var(--text-color-2);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 calc(2 * var(--navigator-padding));
    border: none;
    background-color: var(--theme-2);
    border-radius: 5px;
    cursor: pointer;
}


.page-button:hover {
    background-color: var(--theme-5);
}

.error-message {
    position: absolute;
    text-align: center;
    top: 50px;
    width: 100vw;
    color: var(--theme-1);
    background-color: rgba(0, 0, 0, 0.3);
    font-family: var(--font);
}

.inner-content {
    width: 100vw;
    height: calc(100vh - var(--navigator-height));
    top: var(--navigator-height);
}

.center-x {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.center-y {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.back-button {
    width: var(--back-button-size);
    height: var(--back-button-size);
    margin: var(--back-button-margin);
    padding: var(--back-button-padding);
    position: relative;
    cursor: pointer;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 999;
    background-image: url('../assets/left_arrow.png');
    transition: scale 0.2s ease-in-out;
}

.back-button:hover {
    scale: 0.95;
}

.container {
    background-color: var(--theme-1);
    border-radius: var(--default-rounding);
    border: 1px solid var(--border-2);
    outline: 1px solid var(--border-1);
}

.user-interact {
    border: 1px solid var(--border-2);
    border-radius: 0;
}