@font-face {
    font-family: 'San Francisco';
    font-weight: 400;
    src: url('../resources/fonts/sf-pro.otf') format('opentype');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: normal;
    src: url('../resources/fonts/JetBrainsMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Barlow-Thin';
    font-weight: bold;
    src: url('../resources/fonts/Barlow-Thin.ttf') format('truetype');
}