
:root {
    --session-width: 120px;
    --session-height: 50px;
    --session-margin: 15px 5px;
    --session-rounding: 10px;
    --session-padding: 0 5px;
}

.session-container {
    display: flex;
    flex-flow: column wrap;
    width: 50vw;
    max-width: 75vw;
    min-width: 200px;
}

.session-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    padding: 10px;

}

.session-element {
    min-width: var(--session-width);
    height: var(--session-height);
    border-radius: 3px;
    background-color: var(--theme-1);
    margin: var(--session-margin);
    padding: var(--session-padding);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.session-element:hover {
    border-color: var(--text-color-2);
}

.session-name {
    color: var(--text-color-2);
    text-align: center;
    font-family: var(--font);
    width: auto;
    font-size: 1rem;
}
.session-title {
    color: var(--text-color);
    font-family: var(--font);
    font-size: 1.3rem;
    text-align: center;
}

.add-session {
    background-image: url("../resources/add_icon.png");
    background-size: 25%;
    background-position: center;
    background-repeat: no-repeat;
}
.delete-button {
    --delete-pos-x: 0;
    --delete-pos-y: 0;
    width: 50px;
    height: 20px;
    background-color: var(--theme-2);
    color: #900;
    position: absolute;
    left: var(--delete-pos-x);
    top: var(--delete-pos-y);
    visibility: hidden;
    display: block;
    user-select: none;
    cursor: pointer;
    font-family: var(--font);
    text-align: center;
    z-index: 99;
}