@font-face {
    font-family: 'San Francisco';
    font-weight: 400;
    src: url('../resources/fonts/sf-pro.otf') format('opentype');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-weight: normal;
    src: url('../resources/fonts/JetBrainsMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Barlow-Thin';
    font-weight: bold;
    src: url('../resources/fonts/Barlow-Thin.ttf') format('truetype');
}
:root {
    --theme-1: #0a1019;/*#22252A;*/
    --theme-2: #101826;/*#282C33;*/
    --theme-3: #292C33;
    --theme-4: #2358C9;
    --theme-5: #4D5052;
    --theme-6: #1E1F22;
    --theme-7: #A00505;

    --border-1: #000;
    --border-2: #343840;

    --text-color: #fff;
    --text-color-2: #ccc;
    --text-color-3: #777;

    --scrollbar-background: rgba(0, 0, 0, 0);
    --scrollbar-thumb: #4D5052;

    --container-resize-color: #ccc;

    --background-opacity: 0.95;

    --default-rounding: 3px;

    --navigator-height: 35px;

    --input-box-width: 300px;
    --input-box-height: 30px;
    --navigator-padding: 10px;
    --font: 'San Francisco', sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
    --font-barlow: 'Barlow-Thin', sans-serif;

    --back-button-size: 30px;
    --back-button-padding: 3px;
    --back-button-margin: 5px;
    --action-element-margins: 8px;
    --action-element-size: calc(var(--navigator-height) - var(--action-element-margins) * 2);
}

html[data-theme="light"] {
    --theme-1: #fff;
    --theme-2: #ddd;
    --theme-3: #909090;
    --theme-4: #2358C9;
    --theme-5: #b0b0b0;

    --border-2: #ddd;
    --border-1: #999;

    --text-color: #000;
    --text-color-2: #222;

}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    border-radius: 10px;
    background-color: var(--theme-1);
    border: 1px solid var(--theme-5);
}

.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-background);
}

.scrollbar::-webkit-scrollbar-track { background-color: var(--scrollbar-background); }
.scrollbar::-webkit-scrollbar { width: 5px; height: 5px; }
.scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 5px;
}

.hide-scrollbar { scrollbar-width: none; }
.hide-scrollbar::-webkit-scrollbar { display: none; }
.hide-scrollbar::-webkit-scrollbar-thumb { display: none; }
.hide-scrollbar::-webkit-scrollbar-track { display: none; }

.no-drag {
    -webkit-user-drag: none;
}

.navigator {
    width: 100vw;
    height: var(--navigator-height);
    background-color: var(--theme-1);
    z-index: -1;
    border-radius: 10px 10px 0 0;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.navigator-title {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    line-height: var(--navigator-height);
    font-family: var(--font);
    color: var(--text-color);
}

.content {
    width: 100vw;
    height: calc(100vh - var(--navigator-height) - 2px);
    top: var(--navigator-height);
    z-index: 0;
    background-color: var(--theme-1);
}

.title-text {
    color: var(--text-color-2);
    font-size: 2em;
    font-family: var(--font);
    text-align: center;
}

.title-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.input-box {
    display: inline-block;
    color: var(--text-color);
    background-color: var(--theme-1);
    border: none;
    width: var(--input-box-width);
    height: var(--input-box-height);
    border-radius: 5px;
    margin: 5px 0;
    padding: var(--navigator-padding);
}

.input-box:focus {
    outline: none;
    background-color: var(--theme-2);
}

/** Styles for text-boxes when they're not empty **/
.input-box::placeholder {
    color: var(--text-color-2);
}

/** Login button **/
.page-button {
    width: calc(var(--input-box-width) + 2 * var(--navigator-padding));
    height: var(--input-box-height);
    color: var(--text-color-2);
    margin: 5px 0 15px;
    background-color: var(--theme-2);
    border-radius: 5px;
    cursor: pointer;
}

.page-button:hover {
    background-color: var(--theme-5);
}

.error-message {
    position: relative;
    text-align: center;
    display: block;
    top: -40px;
    width: 50vw;
    margin: 10px 0;
    padding: 10px 0;
    border-radius: var(--default-rounding);
    min-width: calc(var(--input-box-width) + 20px);
    color: #900;
    text-shadow: #000 1px 1px;
    font-family: var(--font);
    visibility: hidden;
}

.inner-content {
    width: 100vw;
    height: calc(100vh - var(--navigator-height));
    top: var(--navigator-height);
}

.flex {
    display: flex;
}

.f-row { flex-flow: row; }
.f-row-rev { flex-flow: row-reverse; }
.f-column { flex-flow: column; }
.f-nowrap { flex-wrap: nowrap; }
.f-m-center { justify-content: center; }
.f-d-center { align-items: center; }

.f-gap-15 {
    gap: 15px;
}

.f-start {
    justify-content: flex-start;
}

.center-x {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.center-y {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.grid {
    display: grid;
}

.nav-btn {
    position: relative;
    cursor: pointer;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 999;
}


.btn-back {
    background-image: url('../resources/left_arrow.png');
}

.btn-forward {
    background-image: url('../resources/right_arrow.png');
}

.fade-in {
    animation: fadeIn 0.2s ease-in 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.relative-container {
    position: relative;
}

.fill-content {
    width: 100%;
    height: 100%;
}

.container {
    background-color: var(--theme-2);
    border-radius: var(--default-rounding);
    border: 1px solid var(--border-2);
    outline: 1px solid var(--border-1);
    box-sizing: border-box;
}

@media (max-height: 4px)
{
    .container {
        border: none;
    }
}

.user-interact {
    border: 1px solid var(--border-2);
    border-radius: 0;
}

.icon {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.border, .border-bottom, .border-top, .border-left, .border-right {
    position: relative;
}

.border::after, .border-bottom::after, .border-top::after, .border-left::after, .border-right::after {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: var(--border-2);
}

.border {
    width: 100%;
    height: 100%;
    outline: 1px solid var(--border-2);
    background-color: transparent;
}

.border-bottom::after, .border-top::after {
    width: 100%;
    height: 1px;
}

.border-left::after, .border-right::after {
    height: 100%;
    width: 1px;
}

.border-bottom::after { bottom: 0; }
.border-top::after { top: 0; }
.border-left::after { left: 0; }
.border-right::after { right: 0; }

.progress-bar {
    --progress: 0; /* Progress indicator. Ranges from 0 to 100 inclusively. */
    position: relative;
    display: block;
    margin: 2px 10px;
    width: 80px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--theme-5);
}

.progress-bar:after {
    content: "";
    display: block;
    position: absolute;
    width: calc(max(min(var(--progress), 100), 0) * 1%);
    height: 100%;
    border-radius: 2px;
    background-color: var(--theme-4);
}


/** Generic action class **/
.action {
    margin: calc(0.5 * var(--action-element-margins));
    padding: calc(0.5 * var(--action-element-margins));
    min-width: var(--action-element-size);
    min-height: var(--action-element-size);
    border-radius: var(--default-rounding);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    font-family: var(--font);
    font-size: 0.9rem;
    color: var(--text-color);
    user-select: none;
    border: 1px solid transparent;
}

.action:hover, .action:focus {
    border-color: var(--theme-5);
}

.action:hover {
    cursor: pointer;
}

.action:focus {
    outline: none;
}

.action:active { border-color: var(--theme-3); }

.action-special { border: 1px solid var(--theme-4); }
.action-special:hover { background-color: var(--theme-4); }

.action-special-negative { border: 1px solid var(--theme-7); }
.action-special-negative:hover { background-color: var(--theme-7); }

.action-delete { background-image: url('../resources/delete_icon.png'); }

.action-add { background-image: url('../resources/add_icon.png'); }

.action-refresh { background-image: url('../resources/reload_icon.png'); }

.action-add-dir { background-image: url('../resources/add_dir_icon.png'); }

.action-home { background-image: url('../resources/home_icon.png'); }

.action-terminal { background-image: url('../resources/terminal_icon.png'); }

.action-undo { background-image: url('../resources/undo_icon.png'); }

.action-redo { background-image: url('../resources/redo_icon.png'); }

.expand { flex: 1; }

.text-box-clean {
    background-color: var(--theme-1);
    font-family: var(--font);
    color: var(--text-color);
    font-size: 0.9rem;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 8px;
    margin: 0;
}

.text-box-clean:focus {
    outline: none;
    background-color: var(--theme-2);
}


.loading-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 999;
    visibility: hidden;
}

.loading-text {
    font-family: var(--font-barlow);
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 20px;
}

/** Loading animation **/
.loading {
    width: 65px;
    height: 30px;
    position: relative;
    display: block;
    z-index: 999;
    margin-bottom: 30px;
}
.loading:before {
    content: "";
    position: absolute;
    display: block;
    border-radius: 50px;
    box-shadow: 0 0 0 3px inset #fff;
    animation: l3 1s infinite alternate;
}
@keyframes l3 {
    0% {
        inset: 0 35px 0 0;
    }
    50% {
        inset: 0 0 0 0;
    }
    100% {
        inset: 0 0 0 35px;
    }
}