:root {
    --editor-font: monospace;
    --editor-font-size: 0.9rem;
    --action-bar-height: 40px;
    --editor-bottom-padding: 20px;
    --editor-line-height: 1.5;
}

.content-text {
    font-family: var(--editor-font);
    font-size: var(--editor-font-size);
    color: var(--text-color);
    line-height: var(--editor-line-height);
    overflow: hidden;
}

.line-number {
    display: block;
    color: var(--text-color-3);
    text-align: center;
    user-select: none;
}

/* Inner content of a line*/
.line-content {
    padding-left: 3px;
    padding-right: 15px;
    white-space: pre;
    display: block;
}

.inner-content-wrapper {
    height: calc(100vh - var(--action-bar-height) - 2 * var(--navigator-height));
    padding-bottom: var(--editor-bottom-padding);
    width: auto;
    overflow-y: scroll;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.file-content {
    height: max-content;
    width: max-content;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    overflow-x: scroll;
}

.cursor {
    position: absolute;
    color: transparent;
    display: block;
    height: var(--editor-font-size);
    font-family: var(--editor-font);
    font-size: var(--editor-font-size);
    line-height: var(--editor-line-height);
    border-right: 2px solid var(--theme-4);
    transform: translateX(3px);
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    49% { opacity: 1;}
    50% { opacity: 0; }
    100% { opacity: 0; }
}

.line-numbers {
    padding: 0 15px 0 10px;
    min-width: 30px;
    height: max-content;
    display: block;
    overflow: hidden;
    border-right: 1px solid var(--text-color-3);
}

.code-content {
    display: block;
    width: max-content;
    height: max-content;
    letter-spacing: 0;
}

.action-container {
    display: flex;
    width: 100vw;
    flex-flow: row-reverse nowrap;
    justify-content: flex-start;
    align-items: center;
    height: var(--action-bar-height);
    background-color: var(--theme-1);
}

.action-sub {

}

.action-upload {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 10px;
    width: max-content;
}