:root {
    --terminal-columns: 80;
    --terminal-rows: 24;
    --column-width: 8px;
    --row-height: 16px;
    --terminal-window-relative-width: 95vw;
    --terminal-window-relative-height: 95vh;
    --cursor-color: #ccc;
    --cursor-blink-rate: 1s;
    --text-color: #ccc;
}

html, body, .terminal-content, .navigator {
    background-color: #111111;
}

/* The container for output */
.terminal-content {
    height: var(--terminal-window-relative-height);
    width: var(--terminal-window-relative-width);
    padding: 15px;
    display: flex;
    flex-flow: column nowrap;
    color: var(--text-color);
    font-family: Inconsolata, monospace;
    overflow: hidden;
}

.terminal-row, .terminal-cursor {
    line-height: var(--row-height);
    min-height: var(--row-height);
    min-width: var(--column-width);
}

.terminal-row {
    display: flex;
    flex-flow: row nowrap;
    font-size: calc(var(--row-height) * 0.8);
    animation: rowIntroduced 0.4s;
}

@keyframes rowIntroduced {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.terminal-scrollbar {

}

.terminal-cursor-container {
    position: relative; top: 0; left: 0;
}

.terminal-cursor {
    position: absolute;
    display: block;
    width: var(--column-width);
    left: 0;
    top: 0;
    background-color: var(--cursor-color);
    animation: blink var(--cursor-blink-rate) infinite;
}

@keyframes blink {
    0% {
        opacity: 0.7;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0.7;
    }
}

