:root {
    --terminal-columns: 80;
    --terminal-rows: 24;
    --terminal-window-relative-width: 95vw;
    --terminal-window-relative-height: 95vh;
}

html, body, .terminal-content {
    background-color: #111;
}

/* The container for output */
.terminal-content {
    height: var(--terminal-window-relative-height);
    width: var(--terminal-window-relative-width);
    margin: 15px;
    display: flex;
    flex-flow: column nowrap;
    color: var(--text-color);
    font-family: Inconsolata, monospace;
    overflow-y: hidden;
    box-sizing: border-box;
}
