
:root {
    --session-width: calc(100% - 30px);
    --session-height: 40px;
    --session-margin: 5px 5px;
    --session-rounding: 10px;
    --session-padding: 0 10px;

    --min-session-container-width: 200px;

    --max-session-container-width: 800px;
    --max-session-element-width: 790px;
    --session-container-width: 80vw;
    --session-element-width: calc(var(--session-container-width) - 20px);
}

.session-container, .session-content, .session-element, .content, .spacing {
    display: flex;
}

.session-element, .content, .spacing {
    justify-content: center;
    align-items: center;
}

.content, .spacing {
    flex-flow: column nowrap;
}

.session-container {
    flex-flow: column nowrap;
    width: 80vw;
    max-width: var(--max-session-container-width);
    min-width: var(--min-session-container-width);
    max-height: 80vh;
}

.session-content {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    max-height: 70vh;
    height: 690px;
    overflow: auto;
}

.sessions-inner-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.session-element {
    min-width: var(--session-width);
    min-height: var(--session-height);
    border-radius: 3px;
    background-color: var(--theme-1);
    margin: var(--session-margin);
    padding: var(--session-padding);
    flex-flow: column wrap;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
}

.inner-icon {
    width: var(--session-height);
    height: var(--session-height);
    background-size: calc(var(--session-height) - 10px);
    background-position: center;
    background-repeat: no-repeat;
    flex: 0.1;
}

.session-title, .session-name {
    flex: 0.4;
}
.fingerprint-icon { background-image: url("../resources/fingerprint.png"); }

.session-element:hover {
    border-color: var(--text-color-2);
}

.session-name {
    color: var(--text-color-2);
    text-align: center;
    font-family: var(--font);
    width: auto;
    font-size: 1rem;
}

.title-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 10px;
}

.spacing {
    flex: 0.33;
}

.search-bar {
    width: 100%;
    height: 30px;
    background-color: var(--theme-1);
    color: var(--text-color);
    font-family: var(--font);
    font-size: 1rem;
    box-sizing: border-box;
    border: 1px solid var(--border-2);
    outline: none;
}

.search-bar:focus {
    background-color: var(--theme-2);
    border-color: var(--text-color-2);
}

.session-title {
    color: var(--text-color);
    font-family: var(--font);
    font-size: 1.3rem;
    text-align: center;
}

.title-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.delete-button {
    --delete-pos-x: 0;
    --delete-pos-y: 0;
    padding: 2px 10px;
    height: 20px;
    background-color: var(--theme-2);
    color: #A00;
    position: absolute;
    left: var(--delete-pos-x);
    top: var(--delete-pos-y);
    visibility: hidden;
    display: block;
    user-select: none;
    cursor: pointer;
    font-family: var(--font);
    text-align: center;
    z-index: 99;
}

.delete-button:hover {
    filter: brightness(1.2);
}

.content {
    box-sizing: border-box;
}

session-element {
    transition: all 0.4s ease-in-out, border-color 0s ease-in-out;
}

session-element[invisible="true"] {
    color: transparent;
    height: 0;
    opacity: 0;
    min-height: 0;
    margin: 0;
    border: none;
}

.fingerprint-icon {
    width: var(--session-height);
    height: var(--session-height);
    background-size: calc(var(--session-height) - 10px);
}
.add-session {
    display: flex;
    background-image: url("../resources/add_icon.png");
}

@media screen and (max-width: 650px), screen and (max-device-width: 650px) {
    .session-container {
        width: 90vw;
        min-width: calc(100% - 40px);
        max-height: calc(100% - 40px);
    }
}

.session-loading::after {
    content: "";
    position: relative;
    animation: sessionLoading 2s infinite;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image:
            linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(200, 200, 200, 0.2), rgba(0, 0, 0, 0));
    opacity: 0.5;
}

.session-loading:nth-child(1)::after {
    animation-delay: 0.1s;
}

.session-loading:nth-child(2)::after {
    animation-delay: 0.1s;
}

.session-loading:nth-child(3)::after {
    animation-delay: 0.3s;
}

@keyframes sessionLoading {
    0% {
        background-position: -800px 0;
    }
    100% {
        background-position: 800px 0;
    }
}

.changelog-container {
    position: fixed;
    left: 10vw;
    top: 10vh;
    display: flex;
    flex-flow: column nowrap;
    width: 80vw;
    height: 80vh;
    color: var(--text-color);
    font-family: var(--font);
}

.app-icon {
    width: 100%;
    height: 100px;
    background-size: 100px;
}